@model TPpweb.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Housing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Housing.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accepted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReservation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
