@model TPpweb.ViewModels.HousingViewModel


@{
    ViewData["Title"] = "Details";

}


<div class="container" >

        

    <div class="container" style="display: grid; grid-template-columns: 2fr 1fr;">
        <div class="listing-picture">
            <img src="@Model.housing.ImagePath" alt="House Image" height="450" style="width: 100%;">
        </div>
        
        <div style="margin: 15px; border: 1px solid #CCCCCC; background: #F0F0F0;">
            <div style="margin: 8px;"> 

                 @{
                    if (User.IsInRole("Cliente"))
                    {
                         <h3>Send message:</h3>


                         <form asp-controller="Reservations" asp-action="Create" method="get">

                            <input type="hidden" name="id" value="@Model.housing.Id" />
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    }
                  }
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <header class="css-sos826 efcnut31" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1 data-cy="adPageAdTitle" class="css-1wnihf5 efcnut38">@Model.housing.TipeHabit</h1>
                <div data-testid="map-link-container" class="css-z9gx1y e3ustps0">
                    <a aria-label="Endereço" href="#map" class="e1w8sadu0 css-qan2aj exgq9l20" tabindex="0">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" class="svg-inline--fa fa-map-marker-alt fa-w-12 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="11" height="14">
                            <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path>
                        </svg>
                        @Model.housing.Location
                    </a>
                </div>
            </div>
            <strong aria-label="Preço" data-cy="adPageHeaderPrice" class="css-t3wmkv e1l1avn10" style="font-size: 24px;">@Model.housing.PriceMonth €</strong>
        </header>
    </div>
    
</div>

<div class="container">
    <div class="housing-details-Titles">
            <h3>Properties:</h3>
    </div>

    <div style ="display:flex; flex-wrap:wrap" >
        <div class="detail">
            <div class="label">Area (m²):</div>
            <div class="value">@Model.housing.Area</div>
        </div>
        <div class="detail">
            <div class="label">Bathrooms:</div>
            <div class="value">@Model.housing.Nbathroom</div>
        </div>
        <div class="detail">
            <div class="label">Typology:</div>
            <div class="value">@Model.housing.TipeHabit</div>
        </div>
        <div class="detail">
            <div class="label">Área útil (m²):</div>
            <div class="value">@Model.housing.TotalPrice</div>
        </div>
    </div>
   
       

    <div class="housing-details-Titles">
        <h3>Description:</h3>
    </div>

    <div class ="housing-details">
        <div class="label">@Model.housing.Description</div>
    </div>
</div>

 
<div class="container" style="margin-top:10px;">
    <div>
        @{
            if (User.IsInRole("Administrador"))
           {
                <a asp-action="Edit" asp-route-id="@Model?.housing.Id">Edit</a> 
           }
        }|
        <a asp-action="Index">Back to List</a>
    </div>
</div>

