@model IEnumerable<TPpweb.Models.DeliveryDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionalEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DamageImages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageImages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.IdReservation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
